.outer-card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  max-width: 340px;
  gap: 14px;
}

/* Logo */
.logo {
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Save button */
.save-btn {
  width: 32px;
  height: 32px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Top row */
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Middle row */
.middle-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Company name + time */
.middle-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-top .title {
  font-size: 16px;
  font-weight: 600;
}

.middle-top .time {
  font-size: 12px;
  color: grey;
  font-weight: 400;
}

/* Job title */
.post {
  font-size: 20px;
  font-weight: 600;
}

/* Tags */
.tags {
  display: flex;
  gap: 8px;
  /* justify-content: space-between; Due to this line the items appear to the extreme sides of the container, this makes them have equal space in between them */
}

.tag-item {
  background-color: rgb(230, 227, 227);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Divider line */
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 8px 0;
}

/* Bottom row */
.bottom-row {
  display: flex;
flex-direction: column;    
align-items: flex-start;   
gap: 6px;                   

}

/* Salary + location block */
.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pay {
  font-size: 16px;
  font-weight: 600;
}

.location {
  font-size: 12px;
  color: grey;
  font-weight: 400;
}

/* Apply button */
.bottom-right {
  background-color: black;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}

.bottom-line-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
